# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html )
.report/

# Runtime data
*.cjs
*.mjs
*.d.ts
*.local

# Dependency directories
node_modules/
/dist/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional husky dir
.husky/

# dotenv environment variables file
.env

# TypeScript build files
*.tsbuildinfo

# Vite-specific build cache
.vite/

# Data directory
data/
