@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  background-color: #FDF8F1;
  color: #5D4037;
}

/* 確保 Fredericka the Great 字體能正確顯示 */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Noto+Sans+TC:wght@400;700&display=swap' );

.font-sketch {
  font-family: 'Fredericka the Great', cursive;
}
